doctype html
html
   head
      include ./jadeHead/head.jade
      +title('janiseanimation')
   body
      #main
         p 过度测试效果
         #transtion
            a.button.green 打开

         p transtion和transform 2D/3D效果
         #tramsform
            .transF1.imgbox
            .transF2.imgbox

         p Animation和transform 2D/3D效果 合用
         #animatuin
            .animationF1 HelloWordHelloWordHelloWordHelloWord
         p 照片自动播放效果，左右区域点击也可以切换照片
         #picAutoRoll
            div
               .buttonRight
               .buttonLeft
               ul.picaminate.rollLeft
                  mixin list(classname)
                     li(class=classname)
                  +list('imagesCenter')
                  +list('imagesCenter')
                  +list('imagesCenter')
                  +list('imagesCenter')
                  +list('imagesCenter')


         #ajaxgitpic
            ul
               li
                 img
                 p
               li
                  img
                  p
         p Next_Example--------

